
div .card.mt-3 {
    width: 32%;
    margin: 10px;
}

.allMovies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

p.card-text{
    overflow: scroll;
    max-width: 300px;
    max-height: 150px;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}
